.typing {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typingAnim 3.5s steps(40, end);
}

@keyframes typingAnim {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

.carousel-caption h1 {
    font-size: 80px;
    font-family: 'Helvetica';
}

.wrapper {
    width: 500px;
    margin: 0 auto;
}

.wrapper h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}

.wrapper h2 {
    text-align: left;
}

.line {
    height: 20px;
    min-width: 800px;
    margin: 0 auto 10px;
    line-height: 15px;
    font-size: 15px;
    color: #fff;
    padding: 0 0 0 10px;
    position: relative;
}

.line:before {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    height: 15px;
    top: 0;
    z-index: -2;
    background: #a4a5a7;
}

.line[data-scroll="in"]:after {
    content: '';
    background: #333;
    height: 15px;
    transition: 0.8s;
    display: block;
    width: 60%;
    animation: animate 1 4s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.line1:after {
    max-width: 54%;
}

.line2:after {
    max-width: 48%;
}

.line3:after {
    max-width: 42%;
}

.line4:after {
    max-width: 24%;
}

@keyframes animate {
    0% {
        width: 0;
    }
    60% {
        width: 60%;
    }
}